#wholedoc {
    background-image: url("https://plus.unsplash.com/premium_photo-1690297733164-958ea1f806ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cXVhbnR1bSUyMHBoeXNpY3N8ZW58MHx8MHx8fDA%3D");
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    color: tomato;;
}
.navbar {
    width: 100%;
    height: auto;
    top: 0;
    padding: 10px;
    text-align: center;
}
.navbar a:hover {
    color: tomato;
    transform: scale(2);
}
li {
    display: inline;
    justify-content: space-around;
    font-size: larger;
    color: white;
}
a {
    font-size: 40px;
    padding: 100px;
    align-items: center;
    font-weight: bolder;
    color: white;
}
#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
img {
    width: 90%;
    height: 300px;
    align-self: center;
    border-radius: 20px;
    padding: 5%;
}
#firstcard {
    background-color: darkcyan;
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#firstcard:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
#secondcard:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
#thirdcard:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
#secondcard {
    background-color: darkcyan;
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#thirdcard {
    background-color: darkcyan;
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
p {
    font-size: larger;
;
}
.ovrcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.selfpotrait {
    width: 90%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.selfbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 70%;
    border: solid 1px black;
    height: 80%;
    background-color: darkcyan;
    padding: 10px;
}
.selfbox img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.formbox {
    background-color: darkcyan;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    width: 30%;
}
form {
    background-image: none;
    color: white;
    font-size: larger;;
}
@media (min-width: 600px) {
    #container {
        flex-direction: row;
    }
    .ovrcontainer {
        flex-direction: row;
    }
}
@media (max-width: 599px) {
    h1 {
        font-size: 35px;
    }
    .navbar a {
        font-size: 20px;
        padding: 20px;
    }
    #container {
        flex-direction: column;
        height: auto;
    }
    .ovrcontainer {
        flex-direction: column;
    }
    #firstcard, #secondcard, #thirdcard, .selfbox, .formbox {
        width: 80%;
        margin-bottom: 20px;
        height: auto;
    }
    .selfbox {
        margin: 0 auto;
    }
}
input {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.submit {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    width: 30%;
}
select {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.inter {
    background-color: darkcyan;
    height: auto;
    margin-bottom: 10px;
}
#lastpiece {
    background-color: darkcyan;
    height: auto;
    margin-top: 10px;
}
.moreof {
    background-color: darkcyan;
    height: auto;
    margin-top: 10px;
    padding: 10px;
}
#firstbox {
    background-color: none;
    height: auto;
    margin-top: 10px;
    padding: 10px;
}
#firstbox p {
    font-size: larger;
}
h2 {
    color: cornsilk;
}
.teambox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.team {
    width: 50%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    background-color: cornsilk;
}
.team img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}
.team:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.applicationbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.application {
    background-color: cornsilk;
    width: 50%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
}
.application img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}
.application:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.footer {
    background-color: cornsilk;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
}
.footer a {
    color: black;
    font-size: medium;
    padding: 10px;
}
