
html, body {
    margin: 0;
    min-height: 100%;
}

body {
    background-image: url("https://plus.unsplash.com/premium_photo-1739755727361-a9cc3377e8e7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEwfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
}
h1 {
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    color: tomato;;
}
.navbar {
    width: 100%;
    height: auto;
    top: 0;
    padding: 10px;
    text-align: center;
}
.navbar a:hover {
    color: tomato;
    transform: scale(2);
}
li {
    display: inline;
    justify-content: space-around;
    font-size: larger;
    color: white;
}
a {
    font-size: 40px;
    padding: 100px;
    align-items: center;
    font-weight: bolder;
    color: white;
}
#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
img {
    width: 90%;
    height: 300px;
    align-self: center;
    border-radius: 20px;
    padding: 5%;
}
#firstcard {
    background-color: darkcyan;
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#firstcard:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    border: 2px solid cornsilk;
}
#secondcard:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    border: 2px solid cornsilk;
}
#thirdcard:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    border: 2px solid cornsilk;
}
#secondcard {
    background-color: darkcyan;
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#thirdcard {
    background-color: darkcyan;
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
p {
    font-size: larger;
;
}
.ovrcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.selfpotrait {
    width: 75%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 0;
}
.selfbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 70%;
}

.selfbox img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.moreof {
    background-color: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 30%;
}
.formbox {
    background-color: darkcyan;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    width: 30%;
}
form {
    background-image: none;
    color: white;
    font-size: larger;;
}
@media (min-width: 600px) {
    #container {
        flex-direction: row;
    }
    .ovrcontainer {
        flex-direction: row;
    }
}
@media (max-width: 599px) {
    h1 {
        font-size: 35px;
    }
    .navbar a {
        font-size: 20px;
        padding: 20px;
    }
    #container {
        flex-direction: column;
        height: auto;
    }
    .ovrcontainer {
        flex-direction: column;
    }
    #firstcard, #secondcard, #thirdcard, .selfbox, .formbox, .moreof {
        width: 90%;
        margin-bottom: 20px;
        height: auto;
    }
    .selfbox {
        margin: 0 auto;
    }
    #firstbox {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .teambox, .applicationbox {
        width: 80%;
        height: auto;
    }
    .formbox, .formbox2, .formbox3 {
        width: 80%;
    }

}
input {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.submit {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    width: 30%;
}
select {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.inter {
    background-color: darkcyan;
    height: auto;
    margin-bottom: 10px;
}
#lastpiece {
    background-color: darkcyan;
    height: auto;
    margin-top: 10px;
}
h2 {
    color: cornsilk;
    font-size: 30px;
    text-align: center;
}
.moreof {
    background-color: darkcyan;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    width: 40%;
}

#firstbox {
    background-color: none;
    height: auto;
    margin-top: 10px;
    padding: 10px;
}

#firstbox p {
    font-size: larger;
}
h2 {
    color: cornsilk;
    font-size: 30px;
    text-align: center;
}
.teambox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.team {
    width: 50%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    background-color: cornsilk;;
    font-size: larger;
}
.team img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}
.applicationbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.application {
    background-color: cornsilk;
    width: 50%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
}
.application img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}
.formbox2 {
    background-color: cornsilk;
    width: 30%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    color: black;

}
.formbox2 label {
    color: black;
}
.formbox2 h3 {
    color: black;
}
.footer {
    background-color: cornsilk;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center; justify-content: space-around;
    bottom: 0;
}
.footer a {
    color: black;
    font-size: medium;
    padding: 10px;
}
.team2 {
    width: 50%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    background-color: blue;
    color: orange;
}
.teambox2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.team2 img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}
.team2:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.applicationbox2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.application2 {
    background-color: blue;
    width: 50%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    color: orange;
}
.application2 img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}
.application2:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.formbox3 {
    background-color: blue;
    width: 30%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    color: orange;

}
.formbox3 label {
    color: orange;
}
.formbox3 h3 {
    color: orange;
}
